@import "contacto";
@import "index";
@import "imagenes";
@import "innovaciones";
@import "musica";

$headerBackground: rgb(215, 215, 215);
$costados: 40px;

.backleft{
    display: block;
    text-align: center;
    justify-content: center;
    
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: $costados;
    padding-right: $costados;

    margin: 0 0.5rem;
    margin-bottom: 15px;
    margin-top: 15px;

    border-radius: 19px;
    border: 1px solid black;

    animation: backInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;

    background-color: $headerBackground;
}
.logo{
    animation: fadeInRightBig; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
}
html{
    body{
        header{
            background-color: $headerBackground;
        }
    }
}
